<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application><activity android:name=".VoiceRepeatTestActivity" android:exported="true" android:permission="android.permission.DUMP" /><activity android:name=".ActionTestActivity" android:exported="true" android:permission="android.permission.DUMP" /><activity android:name=".SelectionTestActivity" android:exported="true" android:permission="android.permission.DUMP" /><activity android:name=".ProofChildActivity" android:exported="false" /></application></manifest>
